footer#footer-component {
    background-color: transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer#footer-component a {
    margin-left: 15px;
    
}
footer#footer-component a button {
    letter-spacing: 0.2rem;
}

@media (max-width: 645px) {
    footer#footer-component {
        background-color: #F9F9F9;
        z-index: 100;
    }
}