footer#footer-component {
    background-color: transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}


footer#footer-component .media-buttons {
    padding-right: 15px;
}
footer#footer-component svg.media-buttons  {
    color: var(--color-primary-dark);
}
footer#footer-component svg.media-buttons:hover {
    color: var(--color-primary-medium);
}