* {
    font-size: 60%;
    font-family: 'Playfair Display', sans-serif;
    background-color: var(--color-background-primary);
}

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
	background-color: rgb(209, 209, 209);
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgb(173, 173, 173);
}