header#header-component {
    background-color: var(--color-background-primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-bottom: 1px solid var(--color-primary-light)
}

header span.logo {
    font-family: 'Playfair Display';
    font-size: 2rem;
    color: var(--color-primary-dark);
}

@media(max-width: 800px) {
    header {
        padding: 1rem 1rem;  
    }
   
}